/* add your CSS here */

/* || Creates main border */
/*Container*/
.container {
    width: 310px;
    border: 1px solid #efe6e6e5;
    box-shadow: 6px 6px 1px 0px #4c62855d;
    padding-right: .2em;
    padding-left: .7em;
    padding-bottom: .6em;
}

/* || Borders and backgroud*/
.animal-descrip {

    width: 283px;
    border: 1px solid #DCDCDC;
    padding-right: .5em;
    padding-left: .5em;
}

.animal-descrip-para {
    font-style: italic;
}

span {
    font-weight: bold;
}


/* || image*/
.animal-image {

    width: 300px;
    height: 200px;
    padding-bottom: .8em;
}

/* || h3 */
.animal-name {

    font-size: xx-large;
    /*font-weight: bold;*/
}

/* || Interesting facts about animal*/
/* Remove bullets points or number from list */
.animal-facts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}