/* add your CSS here */

/* || Borders and backgroud*/
.animal-descrip {
    border-style: solid;
    text-align: auto;
}

.animal-descrip-para {
    font-style: italic;
}

span {
    font-weight: bold;
}

/* || image*/
img {
    /*margin-left:auto; */
    /*margin-right: auto; */
    display:block;
    max-width: 300;
    max-height: 200;
   }

/* || h3 */
.animal-name {
    display:block;
    /*text-align: center;*/
    font-size:xx-large;
    /*font-weight: bold;*/
}

/* Remove bullets points or number from list */
ul {
    list-style: none;
}
